.cart {
  width: 60%;
  height: 30rem;
  background-color: rgb(255, 255, 255);
  padding-bottom: 4rem;
  padding-top: 2rem;
  position: fixed;
  transform: translateY(-40%);
  transition: 2s;
  top: 40%;
  overflow: scroll;
  transition: 1s;
  left: 20%;
  right: 20%;
  border-radius: 1rem;
  z-index: 20;
}
